# environment
poetry.lock
.venv
deployment
dist
__pycache__

# secrets
client_secrets.json
credentials.json
.env
dev.env
config.yaml
config.dev.yaml

# miscellaneous 
*.log
state.json
observatory
images